<h2>Welcome, <%= @user.name %>!</h2>
<!-- <button id="my_recipes_button" class="button">My Profile</button> -->
<a class="button" href="/user/<%=@user_id%>">My Profile</a><br>
<a class="button" href="/recipe/new">New Recipe</a>
<!-- <div id="current_user_cookbook" ></div> -->
