<% if session[:error] %>
<p><%= session[:error] %></p>
<% end %>

<div id='signup'>
  <form action='/user/new' method='post'> #get rid of properties?
    <input type="text" placeholder="Username" name='user[name]'><br>
    <input type="password" placeholder="Password"  name='user[password]'><br>
    <input type="submit" value="Sign Up!">
  </form>
</div>
