<p><%= @ingredient_counter %>.</p>
<input type="text" name='recipe[ingredient][quantity]' placeholder='Quantity: i.e. 1'>
<input type="text" name='recipe[ingredient][unit]' placeholder='Unit: i.e. Cups'>
<input type="text" name='recipe[ingredient][food_item_id]' placeholder='Food Item: i.e. Flour'>
<br>
